<div *ngIf="!id" [@newGame]="id" >
  <mat-card  *ngIf="!id" style="width: 30%;margin: auto;" >
      <form (submit)="startGame()" [formGroup]="form" >
    <mat-card-content>
      <h2 matCardTitle>Save the pony</h2>
      <mat-form-field>
        <mat-select formControlName="pony" [placeholder]="'Select Pony'">
          <mat-option *ngFor="let pony of ponies" [value]="pony">{{pony.description}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      Width
      <mat-slider
          thumbLabel color="primary"
          tickInterval="1"
          formControlName="width"
          min="15"
          max="25"></mat-slider>/
          Height
      <mat-slider
          thumbLabel
          tickInterval="1"
          formControlName="height"
          min="15"
          max="25"></mat-slider>
      <br>
      Difficulty
      <mat-slider
          thumbLabel
          tickInterval="1"
          formControlName="difficulty"
          min="1"
          max="10"></mat-slider>
    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button type="submit">Start Game</button>
    </mat-card-actions>
 </form>
 </mat-card>
</div>
<app-pony *ngIf="id" [(id)]="id" [pony]="form.value.pony.id" [@game]=""
[width]="form.value.width" [height]="form.value.height">
